Django==5.1.7
djangorestframework==3.16.0
django-cors-headers==4.7.0
django-filter==25.1
djangorestframework_simplejwt==5.5.0
django-redis==5.4.0
mysqlclient==2.2.7
phonenumbers==9.0.2
django-phonenumber-field==8.0.0
python-decouple==3.8
python-dotenv==1.1.0

# For testing
factory_boy==3.3.3
Faker==37.4.0
